* {
    font-size: 13px;
}

window#waybar {
    background: transparent;
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
window#waybar {
    background: transparent;
}

.modules-left, .modules-right, .modules-middle,#mpd{
    background: rgba(3, 2, 2, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#clock,
#battery,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#scratchpad,
#window,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}
#network,#idle_inhibitor,#custom-power{
    padding:0 10px;
    color: #ffffff
}
#cpu,#memory,#temperature,#disk{
    padding:5px;
    color:#ffffff;
}
#window,
#workspaces {
    margin: 0 4px;
}
#tray{
    padding-left:10px;
    padding-right:0;
}
#backlight{
    padding:4px;
}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}


.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


.modules-right > center:last-child > #workspaces {
    margin-right: 0;
}

.modules-right > widget:last-child{
    padding-right: 10px;
}

#clock {
    color: #ffffff;
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #220202;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #ffffff;
}

#memory {
    color: #ffffff;
}

#disk {
    color: #ffffff;
}

#backlight {
    color: #ffffff;
}


#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #ffffff;
    padding:2px;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    color: #eb4d4b;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #980b14;
    color: #e99a99;
}

#mpd.disconnected {
    background-color: #90b1b1;
    color:#000000;
}
#mpd.stopped {
    background-color: #90b1b1;
    color:#000000;
}

#mpd.paused {
    background-color: #980b14;
    color: #e99a99;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}


#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

